# General info
include LICENSE
include *.rst

# Control and setup helpers
include src/ganground/_version.py
include versioneer.py

# Exclude development helpers
exclude tox.ini
exclude *-requirements.txt

# Include src, tests, docs
recursive-include docs *.rst *.py *.gitkeep
recursive-include src/ganground *.py
